.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: var(--color-off-white);
}

.dashboard-main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: var(--transition-med);
}

.dashboard-content {
  flex: 1;
  width: 100%;
}

@media (max-width: 992px) {
  .dashboard-main {
    margin-left: 0;
  }
}
